.cartStyle {
  min-height: 300px;
  max-height: 100vh;
  border-radius: 10px;
  background-color: antiquewhite;
  text-align: center;
}
.cartStyle button {
  border: none;
  border-radius: 10px;
  width: 180px;
  margin: 5px 15px;
  background-color: rgb(94 101 100 / 80%);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.randomitems {
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  padding: 5px 5px;
}
