.headStyle {
  background-color: rgba(73, 68, 60, 0.902);
  color: white;
}
.headStyle h2 {
  font-size: 45px;
  font-family: -webkit-body;
}
.headStyle h3 {
  font-size: 30px;
  font-family: cursive;
}
